<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Manage</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/bootstrap.bundle.js"></script>
</head>

<body>
  <div id="navbar"></div>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"></nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <h2>Record</h2>
        <div class="container-fluid">
          <a href="javascript:void(0)" class="btn" style="background-color: grey;margin-left: 0;" id="flush">refresh</a>
          <select class="custom-select w-50" style="margin-left: 1%;" id="setInterval" required="">
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>
        </div>

        <script>
          $(function () {
            // 初始化页码
            page = 1
            // 页面刷新
            flush();
            interval = setInterval(flush, $("select").val() * 1000);

            $("select[id='setInterval']").click(function () {
              clearInterval(interval);
              interval = setInterval(flush, $("select").val() * 1000);
            })

            $("a[id='flush']").click(flush)


            function flush() {
              $("tr:gt(0)").remove();
              //发送请求
              $.ajax({
                type: "get",
                url: "/getresult/" + page,
                // data: "id=7788",
                dataType: "json", //表示可以跨域访问json数据
                async: false, //锁定浏览器，只有请求处理完毕之后（回调函数调用完成之后），才能执行后面的代码
                success: function (data) {
                  // //console.log(data)
                  $.each(data, function (index) {
                    //将数据添加到表格中
                    $("table").append("<tr>" +
                      "<td>" + data[index].RID + "</td>" +
                      "<td>" + data[index].AgentIP + "</td>" +
                      "<td>" + data[index].FileName + "</td>" +
                      "<td>" + data[index].Operation + "</td>" +
                      "<td>" + data[index].Createtime + "</td>" +
                      "<td><a href='https://www.virustotal.com/gui/file/" + data[index].Hash+ "/detection'>" + data[index].Hash + "</a></td>" +
                      "<td><a href='javascript:deleterpt(" + data[index].RID + ")'>Delete</a></td>" +
                      "</tr>");
                  })
                }
              })
            }
          })

          $(function () {
            $.ajax({
              type: "get",
              url: "/getresult/",
              async: false, //锁定浏览器，只有请求处理完毕之后（回调函数调用完成之后），才能执行后面的代码
              success: function (data) {
                //console.log(data - 1)
                $("ul").append("<li class='page-item d-sm-flex'><a class='page-link' href='javascript:void(0)'>" + (data + 1) + "</a></li>");
                $("ul").append("<li class='page-item d-sm-flex'><a class='page-link' href='javascript:void(0)'>Next</a></li>");
              }
            })
            choosepage()
          })

          function choosepage() {
            $("a[class='page-link']").click(function () {
              atext = $(this).text()
              //console.log(atext)
              if (atext == "Previous") {
                page--
              } else if (atext == "Next") {
                page++
              } else {
                page = atext
              }
            })
          }

          function deleterpt(rid) {
            $.ajax({
              type: "get",
              url: "/delete/" + rid,
            })
          }
        </script>
        <div class="table-responsive">
          <table class="table table-striped table-sm" style="text-align:center">
            <thead>
              <tr>
                <th>RID</th>
                <th>AgentIP</th>
                <th>FileName</th>
                <th>Operation</th>
                <th>Time</th>
                <th>Hash</th>
                <th>Op</th>
              </tr>
            </thead>
            <tbody>

              <tr id="reportlist">
                <th id="rid">no network connection</th>
                <th id="AgentIP">no network connection</th>
                <th id="FileName">no network connection</th>
                <th id="Operation">no network connection</th>
                <th id="Time">no network connection</th>
                <th id="Hash">no network connection</th>
                <th id="Op">no network connection</th>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- TODO 获取页码并批量显示 -->
        <nav class="container">
          <div class="row row-vertical-center">
            <ul class="pagination row m-auto" id="pagination">
              <li class="page-item d-sm-flex"><a class="page-link" href="javascript:void(0)">Previous</a></li>
              <li class="page-item d-sm-flex"><a class="page-link" href="javascript:void(0)">1</a></li>
              <li class="page-item d-sm-flex"><a class="page-link" href="javascript:void(0)">2</a></li>
              <li class="page-item d-sm-flex"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item d-sm-flex"><a class="page-link" href="javascript:void(0)">4</a></li>
              <li class="page-item d-sm-flex"><a class="page-link" href="javascript:void(0)">5</a></li>
              <li class="page-item d-sm-flex"><a class="page-link" href="">...</a></li>
            </ul>
          </div>
        </nav>
      </main>
    </div>
  </div>
  <hr class="featurette-divider">
  <footer id="footer" class="container">
    <script>
      $(function () {
        $("#navbar").load("/static/include/header.html");
        $("#sidebarMenu").load("/static/include/sidebar.html");
        $("#footer").load("/static/include/footer.html");
      });
    </script>
</body>

</html>