<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Manage</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
</head>

<body>
  <div id="navbar"></div>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"></nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="col-md-8 order-md-1">
          <h2 class="mb-3">User-Info</h2>
          <form class="needs-validation" novalidate="" method="POST" action="/editor">


            <input type="hidden" class="form-control" id="username" name="uid" placeholder="Username" required=""
              value="{{.User.UID}}">


            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" name="email" value="{{.User.Email}}">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Password</label>
              <input type="text" class="form-control" id="address" name="pass" value="{{.User.Password}}" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Repeat Password<span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" name="re-pass" value="{{.User.Password}}">
            </div>

            <div class="mb-3">
              <label for="country">Role</label>
              <select class="custom-select d-block w-100" id="country" name="role" required="">
                <option name="{{.User.Role}}">{{.User.Role}}</option>
                <option value="0">0(admin)</option>
                <option value="1">1(user)</option>
                <option value="999">999(guest)</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <!-- <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
                address</label>
            </div> -->
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block " type="submit">Save</button>
          </form>
        </div>
      </main>
    </div>
  </div>
  <script src="/js/bootstrap.js"></script>
  <hr class="featurette-divider">
  <footer id="footer" class="container">
    <script>
      $(function () {
        $("#navbar").load("/include/header.html");
        $("#sidebarMenu").load("/include/sidebar.html");
        $("#footer").load("/include/footer.html");
      });
    </script>
</body>

</html>