<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Manage</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
</head>

<body>
  <div id="navbar"></div>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"></nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <h2>Record</h2>
        <a href="javascript:void(0)" class="btn" style="background-color: grey;">Button</a>
        <select class="custom-select w-50" id="setInterval" required="">
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>

        <script>
          $(function () {
            flush();
            // interval = setInterval(flush, $("select").val() * 1000);

            $("select[id='setInterval']").click(function () {
              clearInterval(interval);
              interval = setInterval(flush, $("select").val() * 1000);
            })

            $("a").click(flush)

            function flush() {
              $("tr:gt(0)").remove();
              //发送请求
              $.ajax({
                type: "get",
                url: "/getalluser",
                // data: "id=7788",
                dataType: "json", //表示可以跨域访问json数据
                async: false, //锁定浏览器，只有请求处理完毕之后（回调函数调用完成之后），才能执行后面的代码
                success: function (data) {
                  // console.log(data)
                  $.each(data, function (index) {
                    //将数据添加到表格中
                    $("table").append("<tr>" +
                      "<td>" + data[index].UID + "</td>" +
                      "<td>" + data[index].Email + "</td>" +
                      "<td>" + data[index].Password + "</td>" +
                      "<td>" + data[index].Status + "</td>" +
                      "<td>" + data[index].Createtime + "</td>" +
                      "<td><a href='javascript:deleterpt(" + data[index].RID + ")'>Delete</a></td>" +
                      "</tr>");
                  })
                }
              })
            }
          })

          function deleterpt(rid) {
            $.ajax({
              type: "get",
              url: "/delete/" + rid,
            })
          }
        </script>
        <div class="table-responsive">
          <table class="table table-striped table-sm" style="text-align:center">
            <thead>
              <tr>
                <th>UID</th>
                <th>Email</th>
                <th>Password</th>
                <th>Status</th>
                <th>Createtime</th>
              </tr>
            </thead>
            <tbody>

              <tr id="reportlist">
                <th id="UID">no network connection</th>
                <th id="Email">no network connection</th>
                <th id="Password">no network connection</th>
                <th id="Status">no network connection</th>
                <th id="Createtime">no network connection</th>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
  <script src="/js/bootstrap.js"></script>
  <hr class="featurette-divider">
  <footer id="footer" class="container">
    <script>
      $(function () {
        $("#navbar").load("include/header.html");
        $("#sidebarMenu").load("include/sidebar.html");
        $("#footer").load("include/footer.html");
      });
    </script>
</body>

</html>